/* Estilos para el formulario */
#formulario {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select, input[type=number] {
  display: inline-block;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button[type=submit] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos para el resultado */
#resultado {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
}

#resultado p {
  margin-bottom: 10px;
}

#resultado p#magnitud {
  font-weight: bold;
  font-size: 24px;
}

#resultado p#angulo {
  font-weight: bold;
  font-size: 24px;
}

#resultado p#sentido {
  font-style: italic;
}

#resultado p#formula-magnitud,
#resultado p#formula-angulo {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  color: #666;
}

/* Estilos para el título */
header {
  background-color: blue;
  padding: 20px;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
}

/* Estilos para la respuesta en dispositivos pequeños */
@media screen and (max-width: 480px) {
  select, input[type=number] {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  
  #resultado p#magnitud,
  #resultado p#angulo {
    font-size: 20px;
  }
  
  #resultado p#formula-magnitud,
  #resultado p#formula-angulo {
    font-size: 12px;
  }
}
